---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Pricing from '~/components/widgets/Pricing.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Ises AI Agency',
  ignoreTitleTemplate: true,
};
export const email = 'isesbiz@gmail.com ';
export const phone = '+234 7086526724 ';
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Contact',
        href: `mailto:${email}`,
        target: '_blank',
        icon: 'tabler:mail',
      },
      { text: 'Services', href: '#services' },
    ]}
  >
    <Fragment slot="title">
      Empower your business with <span class="text-accent dark:text-white highlight">ISES AI Agency</span>
      <span class="hidden xl:inline">- Your ultimate AI solution partner</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">At ISES AI Agency</span> We focus on streamlining operations, enhancing customer experiences,
        and driving efficiency for organizations across industries.</span
      >
    </Fragment>
  </Hero>
  <!-- Pricing Widget ******************* -->

  <Pricing
    id="services"
    tagline="services"
    title="AI-Powered Solutions"
    subtitle="Whether you’re looking for a sales bot, booking bot, fitness assistant, insurance bot, or any tailored AI solution, ISES AI Agency is here to bring your ideas to life."
    prices={[
      {
        title: 'Chatbot',
        subtitle:
          'Engage customers with smart, text-based assistants that provide instant, accurate responses and streamline workflows.',
        price: 400,
        period: '/ month',
        callToAction: {
          target: '_blank',
          text: 'Get Started',
          href: `mailto:${email}`,
        },
      },
      {
        title: 'Voicebots',
        subtitle:
          'Deliver seamless voice interactions with AI-powered assistants, enabling natural and efficient communication for customer support.',
        price: 600,
        period: '/ Month',
        callToAction: {
          target: '_blank',
          text: 'Get Started',
          href: `mailto:${email}`,
        },
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment></Pricing
  >
  <Hero2
    title="Meet the Visionary"
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  >
    <Fragment slot="subtitle">
      As a trusted name in AI development, our founder <span class="text-accent dark:text-white highlight"
        >Michael Odufuwa</span
      >
      combines extensive experience in chatbot and voicebot creation with a passion for helping businesses scale through
      innovative technology.
    </Fragment></Hero2
  >
  <Features2
    title="Drop us a message today!"
    tagline="Contact us"
    columns={2}
    items={[
      {
        title: 'Email',
        description: `${email}`,
        icon: 'tabler:mail',
      },
      {
        title: 'Phone',
        description: `${phone}`,
        icon: 'tabler:headset',
      },
    ]}
    ><Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment>
  </Features2>
</Layout>
