---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Pricing from '~/components/widgets/Pricing.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';

const metadata = {
  title: 'Ises AI Agency',
  ignoreTitleTemplate: true,
};
export const email = 'isesbiz@gmail.com ';
export const phone = '+234 7086526724 ';
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Contact',
        href: `mailto:${email}`,
        target: '_blank',
        icon: 'tabler:mail',
      },
      { text: 'Services', href: '#services' },
    ]}
  >
    <Fragment slot="title">
      Empower your business with <span class="text-accent dark:text-white highlight">ISES AI Agency</span>
      <span class="hidden xl:inline">- Your ultimate AI solution partner</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">At ISES AI Agency</span> We focus on streamlining operations, enhancing customer experiences,
        and driving efficiency for organizations across industries.</span
      >
    </Fragment>
  </Hero>
  <Features
    id="features"
    tagline="Features"
    title="Innovative Features"
    subtitle="Discover cutting-edge features designed to streamline processes, enhance user experiences, and drive your business forward."
    items={[
      {
        title: 'Enhanced customer support',
        description:
          'Your bots provide 24/7 service, ensuring customers always receive quick and accurate responses, reducing wait times and boosting satisfaction.',
        icon: 'tabler:clock-24',
      },
      {
        title: 'Cost-effective operations',
        description:
          'By automating repetitive tasks, businesses save money on hiring and training support staff, reallocating resources to more strategic areas.',
        icon: 'tabler:coins',
      },
      {
        title: 'Increased efficiency',
        description:
          'Ai bots streamline workflows, manage customer inquiries, and handle bookings or data collection seamlessly, allowing businesses to focus on core operations.',
        icon: 'tabler:arrow-guide',
      },
      {
        title: 'Lead generation and conversion',
        description:
          'Your bots engage website visitors, qualify leads, and guide potential customers through the sales funnel, improving conversion rates.',
        icon: 'tabler:arrow-big-up-lines',
      },
      {
        title: 'Personalized experiences',
        description:
          'With nlp capabilities, your bots understand customer preferences and tailor responses, creating more meaningful interactions.',
        icon: 'tabler:focus-2',
      },
      {
        title: 'Scalability',
        description:
          'Businesses can handle increased customer demand without overloading their teams, making scaling smooth and manageable.',
        icon: 'tabler:chart-infographic',
      },
    ]}
    ><Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment></Features
  >
  <!-- Pricing Widget ******************* -->

  <Pricing
    id="services"
    tagline="services"
    title="AI-Powered Solutions"
    subtitle="Whether you’re looking for a sales bot, booking bot, fitness assistant, insurance bot, or any tailored AI solution, ISES AI Agency is here to bring your ideas to life."
    prices={[
      {
        title: 'Chatbot',
        subtitle:
          'Engage customers with smart, text-based assistants that provide instant, accurate responses and streamline workflows.',
        price: 400,
        period: '/ month',
        callToAction: {
          target: '_blank',
          text: 'Get Started',
          href: `mailto:${email}`,
        },
      },
      {
        title: 'Voicebots',
        subtitle:
          'Deliver seamless voice interactions with AI-powered assistants, enabling natural and efficient communication for customer support.',
        price: 600,
        period: '/ Month',
        callToAction: {
          target: '_blank',
          text: 'Get Started',
          href: `mailto:${email}`,
        },
      },
    ]}
  />

  <Hero2
    id="founder"
    title="Meet the Visionary"
    image={{
      src: '~/assets/images/profile.png',
      alt: 'Steps image',
    }}
  >
    <Fragment slot="subtitle">
      As a trusted name in AI development, our founder <span class="text-accent dark:text-white highlight"
        >Michael Odufuwa</span
      >
      combines extensive experience in chatbot and voicebot creation with a passion for helping businesses scale through
      innovative technology.
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment></Hero2
  >
  <Features2
    id="contact"
    title="Drop us a message today!"
    tagline="Contact us"
    columns={2}
    items={[
      {
        title: 'Email',
        description: `${email}`,
        icon: 'tabler:mail',
      },
      {
        title: 'Phone',
        description: `${phone}`,
        icon: 'tabler:headset',
      },
    ]}
  />
</Layout>
